@import url('https://fonts.googleapis.com/css2?family=Overlock&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Overlock', cursive;
}
body {
    background: linear-gradient(to left, rgb(7, 23, 50), rgba(7, 23, 50, 0.7));
}
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2%;
}
.name {
    width: 50%;
}

.name h1 {
    color: rgb(238, 83, 130);
    font-size: 10vh;
    font-weight: bold;
    text-align: center;
}

.name h1 span {
    color: white;
}

.name .slogan {
    color: rgb(107, 244, 217);
    text-align: center;
    font-size: 4vh;
    font-weight: bold;
    line-height: 1.6;
    margin-top: 2%;

}
.name a{
    text-decoration: none;
}
.name a .more{
    padding: 10px;
    border: none;
    border-radius: 30px;
    width: 30%;
    font-size: 3vh;
    font-weight: bold;
    background-color: white;
    color: rgb(7, 23, 50);
    display: block;
    margin: 0 auto;
    margin-top: 3%;
}
.name a .more:hover{
    /* color: rgb(7, 23, 50); */
    color: white;
    background: linear-gradient(to left, rgb(77, 179, 157), rgba(107, 244, 217, 0.4));
}

header img {
    width: 40%;
    height: 50vh;
    object-fit: cover;
    border-radius: 10px;

}

header img:hover {
    box-shadow: 4px 2px 20px rgb(77, 179, 157);
}

.form {
    margin-top: 3%;
    background-color: white;
    padding: 8px 10px;
}

fieldset {
    margin: 2% 5% 0 5%;
    padding: 20px;
    border: 2px solid rgb(7, 23, 50);
}

fieldset legend {
    color: rgb(7, 23, 50);
    font-size: 3vh;
    font-weight: bold;
}

form label {
    font-size: 3.5vh;
    font-weight: bold;
}

form input[type='text'] {
    color: rgb(7, 23, 50);
    width: 25%;
    height: 5vh;
    font-style: italic;
    font-weight: bold;
}

label span {
    font-weight: bold;
    color: red;
}

form select {
    width: 25%;
    height: 5vh;
}

select option {
    font-weight: bold;
    color: rgb(7, 23, 50);
    width: 100%;
}

form input[type='button'] {
    padding: 8px;
    width: 30%;
    color: rgb(107, 244, 217);
    font-size: 4vh;
    border-radius: 20px;
    border: none;
    background-color: rgb(7, 23, 50);
    font-weight: bolder;
    display: block;
    margin: 0 auto;
}

form input[type='button']:hover {
    background: linear-gradient(to left, rgb(77, 179, 157), rgba(107, 244, 217, 0.4));
    color: rgb(7, 23, 50);
}

h4 {
    text-align: center;
    margin: 2% 3%;
    font-size: 4vh;
    color: white;
}

.akan {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 3% 10% 0 10%;
}

.akan .gender-naming {
    color: rgb(107, 244, 217);
}

.gender-naming h5 {
    font-size: 5vh;
    font-weight: bold;
    text-align: center;
    margin: 2% 3%;
    color: white;
}

.akan img {
    height: 20vh;
    margin-right: -20%;
}

.gender-naming {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gender-naming ul li {
    line-height: 1.8;
}

.footer {
    color: white;
    text-align: center;
    margin: 2% 0 1% 0;
    background-color: rgb(77, 179, 157);
    line-height: 1.6;

}

.footer:hover {
    background: linear-gradient(to left, rgb(77, 179, 157), rgba(107, 244, 217, 0.4));
    color: rgb(7, 23, 50);
}

.footer strong {
    color: rgb(7, 27, 75);
}