*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}
body{
     background: linear-gradient(to left, rgb(7, 23, 50), rgba(7, 23, 50, 0.7));
}
header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2%;
}
.name{
    width: 50%;
}
.name h3{
    color: rgb(77, 179, 157);
    font-size: 5vh;
    font-weight: bold;
    text-align: center;
}
.name h3:hover{
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 6vh;
}
.name .slogan{
    color: rgb(107, 244, 217);
    text-align: center;
    font-size: 4vh;
    font-weight: bold;
    line-height: 1.6;
    margin-top: 2%;

}
header img{
    width: 40%;
    height: 50vh;
    object-fit: cover;
    border-radius: 10px;

}
header img:hover{
    box-shadow: 4px 2px 20px rgb(77, 179, 157);
}
.form{
    margin-top: 3%;
    background-color: white;
    padding: 8px 10px;
}
fieldset{
    margin: 2% 5% 0 5%;
    padding: 20px;
    border: 2px solid rgb(7, 23, 50);
}
fieldset legend{
    color: rgb(7, 23, 50);
    font-size: 3vh;
    font-weight: bold;  
}
form label{
    font-size: 3.5vh;
    font-weight: bold;
}
form input[type='number']{
    color: rgb(7, 23, 50);
    width: 25%;
    height: 5vh;
    font-style: italic;
    font-weight: bold;
}
label span{
    font-weight: bold;
    color: red;
}
form select{
    width: 25%;
    height: 5vh;
}
select option{
    font-weight: bold;
    color: rgb(7, 23, 50);
    width: 100%;
}
form input[type='button']{
    padding: 8px;
    width: 30%;
    color: rgb(107, 244, 217);
    font-size: 4vh;
    border-radius: 20px;
    border: none;
    background-color: rgb(7, 23, 50);
    font-weight: bolder;
    display: block;
    margin: 0 auto;
}
form input[type='button']:hover{
    background: linear-gradient(to left, rgb(77, 179, 157), rgba(107, 244, 217, 0.4));
    color: rgb(7, 23, 50);
}
.akan{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 3% 10% 0 10%;
}
.akan .gender-naming{
    color: rgb(107, 244, 217);
}
.gender-naming h4{
    font-size: 4vh;
    font-weight: bold;
}
.akan img{
    height: 20vh;
    margin-right: -20%;
}